<tr>
	<br />
	<td class="client_addr round">
		<h3><%= client_addr.title %> Address</h3>
		<a href="<%= edit_client_addr_path(client_addr) %>">Edit</a><br />
		<span class="address"><%= client_addr.street %></span><br />
		<span class="address"><%= client_addr.city %></span><br />
		<span class="address"><%= client_addr.state %></span><br />
		<span class="address"><%= client_addr.zip %></span><br />
	</td>
</tr>
<%= hidden_field_tag(:client, client_addr.client) %>