<div class="field">
	<%= f.label :title %><br />
	<%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :street %><br />
	<%= f.text_field :street %>
</div>
<div class="field">
	<%= f.label :city %><br />
	<%= f.text_field :city %>
</div>
<div class="field">
	<%= f.label :state %><br />
	<%= f.text_field :state %>
</div>
<div class="field">
	<%= f.label :zip %><br />
	<%= f.text_field :zip %>
</div>
<%= hidden_field_tag(:client, @client) %>