<h1>New Address for Client <%= @client.first_name %></h1>
<%= render 'shared/error_messages', :person => @client %>
<%= form_for(@client_addr) do |f| %>

	<%= render 'client_addrs/fields', :f => f %>
	
	<div class="actions">
		<%= f.submit "Add Address" %>
	</div>

<% end %>