<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults %>
  </head>
  <body>
	<div class="container">
		<%= render 'layouts/header' %>
		<section class="round shadow notifications">
			<% if account_open? %>
				<span class="account_status open_status">Open Client Account</span>
				<%= link_to "#{client_account.first_name} #{client_account.last_name}", client_account, 
															:class => "account_button round open" %>
			<% else %>
				<span class="account_status closed_status">No Open Account</span>
				<%= link_to "Select Client", clients_path, 
															:class => "account_button round closed" %>
			<% end %>
		</section>
		<section class="round shadow">
    	<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
  </body>
</html>